html, body {
    width: 250px;
  }

  form input {
    margin: 1px 1px;
  }
  form input:nth-child(-n+3){
    width: 220px;
  }

  div.content-div {
    /* border: solid; */
    margin: 3px 0px;
  }

  div.data-container {
    margin-top: 3px;
    border-style: double;
  }
  div#synctime {
    width:230px;
    font-size:small;
    
  }
  div.hidden {
    display: none;
  }