html,
body {
  width: 260px;
}

form input {
  margin: 1px 1px;
}
form input:nth-child(-n + 3) {
  width: 220px;
}

div.content-div {
  /* border: solid; */
  margin: 3px 0px;
}

div.container-div {
  border-top: dashed 2px darkblue;
  padding-top: 4px;
  padding-bottom: 8px;
  margin-left: -8px;
  padding-left: 8px;
}
span.container-title {
  font-size: 12px;
}

div.data-container {
  margin-top: 3px;
  border-style: double;
}
div#synctime {
  width: 230px;
  font-size: small;
}
.hidden {
  display: none;
}

summary.helper-text {
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 10px;
}

td#arv-btn-cell input {
  width: 170px;
}

ul#arv-teams {
  padding-left: 4px;
}
table.arv-teams-table {
  padding-left: 4px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px;
}
table.arv-teams-table th,
table.arv-teams-table td {
  border: solid 1px black;
  overflow-x: overlay;
  word-break: break-all;
}
col.arv-teams-table-col1 {
  width: 140px;
}
col.arv-teams-table-col2 {
  width: 108px;
}

ul#arv-teams input.arv-un-btn {
  width: 70px;
  margin: 0px 8px;
}
ul#arv-teams input.arv-rm-btn {
  width: 70px;
}
ul#arv-teams input.arv-un-btn,
ul#arv-teams input.arv-rm-btn,
table.arv-teams-table input.arv-un-btn,
table.arv-teams-table input.arv-rm-btn {
  font-size: 12px;
  padding: 0px;
}
table.arv-teams-table input.arv-un-btn {
  width: 66px;
}
table.arv-teams-table input.arv-rm-btn {
  width: 50px;
}

table.arv-teams-table td span.arv-team-name {
  color: #5914d4;
  font-size: 10px;
}
table.arv-teams-table td span.arv-team-format {
  font-weight: bold;
}
p.arv-team-preview,
p.arv-team-no-preview {
  font-size: 10px;
  color: red;
  margin-top: 0px;
  margin-bottom: 4px;
}
span.arv-pm-preview {
  width: 40px;
  height: 30px;
  margin: 0 -3px;
  float: left;
  overflow: visible;
}
